@model Villa_Web.Models.VM.VillaNumberCreateVM

<form asp-action="CreateVillaNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-black">Create Villa</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="VillaNumber.VillaNo" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="VillaNumber.VillaNo" class="form-control" />
                <span asp-validation-for="VillaNumber.VillaNo" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="VillaNumber.VillaId" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="VillaNumber.VillaId" class="form-select" asp-items="@Model.VillaSelectList">
                    <option disabled selected>--Select Villa--</option>
                </select>
                <span asp-validation-for="VillaNumber.VillaId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="VillaNumber.SpecialDetails" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="VillaNumber.SpecialDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="VillaNumber.SpecialDetails" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-5">
                <a asp-action="IndexVilla" class="btn-dark btn form-control"><i class="bi bi-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}